<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Tech - Sua loja de tecnologia</title>
 
    {% load static %}
    <link rel="stylesheet" href="{% static "css/menu.css" %}">
</head>
<body>
    
    {% include "header/header.html" %}
    
    <section class="featured">
        <div class="featured_content">
            <h1>Últimos Lançamentos</h1>
            <p>Descubra os smartphones mais avançados com os melhores preços do mercado</p>
            <a href="#produtos" class="see_product">Ver Produtos</a>
        </div>
    </section>
    <script src="{% static "js/menu.js" %}"></script>
</body>
</html>